.button--wrapper {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 25%; /* Set width to 50px */
}
